//hero-tentang
.hero-tentang {
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 170px;
  .container-fluid {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 116px);
    img {
      width: 44.9vw;
    }
  }
}
//hero-tentang

//Profil
.profil-tentang {
  margin-top: 100px;
  .container-fluid {
    background: linear-gradient(
      90.79deg,
      rgba(230, 238, 255, 0.75) 0.63%,
      rgba(230, 238, 255, 0) 105.64%
    );
    border-radius: 8px;
    padding: 30px;
    width: 90%;
    h1 {
      font-weight: 700;
      color: #1c2661;
    }
    p {
      text-align: justify;
    }
  }
}
//Profil

//video
.video-tentang {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-weight: 700;
    color: #1c2661;
  }
  .video-wrapper {
    display: flex;
    justify-content: center;
  }
}
//video

//guru
.guru-tentang {
  margin-top: 100px;
  padding: 50px 0;
  color: #fff;
  background: linear-gradient(
    99.2deg,
    #3a75d1 1.94%,
    #54bbec 100%,
    #54bbec 100%
  );
  h1 {
    font-weight: 700;
  }

  .dokumentasi {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .all-link {
      color: #fff;
      text-decoration: none;
    }
  }
  .row {
    justify-content: space-between;
    text-align: center;
    .col {
      width: auto;
      padding: 10px 0;
      h5 {
        margin-top: 10px;
        font-weight: 600;
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
      img {
        width: 200px;
        &:hover {
          transform: scale(1.05);
          transition: all 0.2s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
//guru

@media (max-width: 992px) {
  .hero-tentang {
    .container-fluid {
      img {
        width: 70vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .guru-tentang {
    .row {
      justify-content: space-around;
      .col {
        display: grid;
        justify-items: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .guru-tentang {
    .row {
      .col {
        img {
          width: 150px;
        }
      }
    }
  }
}
